* {
    margin: 0px auto;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #dededd;
}

#LoginCard {
    align-items: center;
    margin-left: 550px;
    margin-top: 200px;
    width: 364px;
    height: 469px;
    background-color: aquamarine;
    border-radius: 10px;
    padding-left: 35px;
    border-radius: 30px;
    padding-right: 30px;
}

.logo {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    margin-left: 95px;
    margin-bottom: 10px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.login-desc {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #525252;
    margin-bottom: 24px;
}

#username {
    width: 364px;
    height: 52px;
    background-color: #F0EDFFCC;
    border-radius: 16px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1C1C1C;
    padding-left: 20px;
    position: relative;
    right: 35px;
    margin-bottom: 18px;
}

#password {
    width: 364px;
    height: 52px;
    background-color: #F0EDFFCC;
    border-radius: 16px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1C1C1C;
    padding-left: 20px;
    position: relative;
    right: 35px;
    margin-bottom: 24px;
}

#Login-now {
    width: 124px;
    height: 52px;
    border-radius: 16px;
    color: white;
    border: 1px solid #9181F4;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 75px;
    padding-left: 30px;
    background-color: #9181F4;
    cursor: pointer;
    margin-bottom: 24px;
}

.login-with-others {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 85px;
    margin-bottom: 5px;
}

.login-google {
    width: 364px;
    height: 52px;

    font-family: "Poppins";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 70px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.login-google img {
    position: relative;
    right: 5px;
    top: 5px;
}

.login-facebook {
    width: 364px;
    height: 52px;

    font-family: "Poppins";
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-left: 70px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 26px;
    margin-top: 5px;
}

.login-facebook img {
    position: relative;
    right: 5px;
    top: 5px;
    margin-top: 15px;
}